<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrG_0BQtEu9KLFvMI7UDs1AHAwTElBo2A</string>
	<key>GCM_SENDER_ID</key>
	<string>580213313338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.EGo</string>
	<key>PROJECT_ID</key>
	<string>e-go-6c68e</string>
	<key>STORAGE_BUCKET</key>
	<string>e-go-6c68e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580213313338:ios:3ad3ff4dd66266c2f14a03</string>
	<key>DATABASE_URL</key>
	<string>https://e-go-6c68e-default-rtdb.firebaseio.com</string>
</dict>
</plist>